<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <!-- <link rel="stylesheet" href="/static/css/highlighting.css"> -->
    <link rel="stylesheet" href="/static/css/fonts.css" />
    <link href="/static/css/prism.css" rel="stylesheet" />


  </head>

  <body>
    <nav>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/tags.html">Tags</a></li>
      <li><a href="/about.html">About me</a></li>
    </ul>
    <hr/>

      <div class="social-links" style="float: right; margin-top: -45px;">
      <a href="https://x.com/GB19328991" title="Follow me on X" target="_blank" rel="noopener noreferrer">
          <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTguMjQ0IDIuMjVoMy4zMDhsLTcuMjI3IDguMjkgOC40MiAxMS4xNmgtNi44MTRsLTUuMjA1LTYuODE2LTUuOTQ5IDYuODE2SDEuNDdsNy43MzItOC44NzJMMSAyLjI1aDYuOTY2bDQuNzE0IDYuMjE0TDE4LjI0NCAyLjI1eiIgZmlsbD0iIzgyYjFmZiIvPjwvc3ZnPg==" alt="X (Twitter) icon">
      </a>
      <a href="https://linkedin.com/in/biradarganesh25" title="Connect on LinkedIn" target="_blank" rel="noopener noreferrer">
          <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjAgMy43NUgzLjk5N2MtLjY4MSAwLTEuMjQ3LjU2NS0xLjI0NyAxLjI0NnYxNC4wMDhjMCAuNjguNTY2IDEuMjQ2IDEuMjQ3IDEuMjQ2SDE5Ljk5YS4xMjUuMTI1IDAgMCAwIC4wMSAwYy42OCAwIDEuMjQ2LS41NjUgMS4yNDYtMS4yNDZWNS4wMDVjMC0uNjktLjU1Ni0xLjI1NS0xLjI0Ni0xLjI1NXptLTExLjcxIDE0LjUxOGgtMi43VjkuNzMxaDIuN3Y4LjUzN3ptLTEuMzUtOS41YTEuNTY3IDEuNTY3IDAgMSAxLS4wMDMtMy4xMzIgMS41NjcgMS41NjcgMCAwIDEgLjAwMyAzLjEzMnptMTEuNDYgOS41aC0yLjY5di00LjE1M2MwLTEuMDA4LS4wMi0yLjMwOC0xLjQwNy0yLjMwOC0xLjQwOCAwLTEuNjIzIDEuMS0xLjYyMyAyLjIzNnY0LjIyNWgtMi42OVY5LjczMWgyLjU4djEuMTg0aC4wMzdjLjM2LS42ODMgMS4yNC0xLjQwNiAyLjU1Mi0xLjQwNiAyLjczIDAgMy4yMyAxLjggMy4yMyA0LjE0djQuNjE5eiIgZmlsbD0iIzgyYjFmZiIvPjwvc3ZnPg==" alt="LinkedIn icon">
      </a>
    </div>
    </nav>