{%include 'header.html' %}

    <h1>Ganesh's blog</h1>
    <ul style="list-style-type: none; padding-left: 0;">
        {% for post in blog_posts|sort(attribute='published_date', reverse=True) %}
            <li style="margin-bottom: 15px;">
                <a href="{{ post.url }}" style="font-size: 18px;">{{ post.title }}</a>
                <br>
                <span style="font-size: 14px;">posted on {{ post.published_date.strftime('%b %-d, %Y') }}</span>
            </li>
        {% endfor %}
    </ul>
{%include 'footer.html' %}
